<div class='settings'>
  <div class='setting-option'><%= link_to 'MANAGE LABELS', labels_path %></div>
  <div class='setting-option'><%= link_to 'MANAGE VENUE CATEGORIES', venue_categories_path %></div>
</div>