.new-label-link {
  font-family: 'Playfair Display', serif;
  padding: 40px;
  font-weight: bold;
  font-size: 20px;
}

.new-label-link a {
  text-decoration: none;
  color: goldenrod;
}

.label-index {
  font-family: 'Josefin Sans', sans-serif;
  padding-left: 40px;
  font-size: 20px;
  padding-bottom: 40px;
}

